Header always set Access-Control-Allow-Origin "https://yourwebsite.com"
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, PUT, DELETE"
Header always set Access-Control-Allow-Headers "X-Requested-With, Content-Type, Origin, Authorization"
