@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    /*background: linear-gradient(#ead707,#ceb007, #cb9d06, #cd930a,#c76e07, #ac4505, #a40808);*/
    /*background: linear-gradient(#F0F7F4, #99E1D9, #70ABAF, #705D56, #32292F);*/
    /*background: linear-gradient(#d6cea5, #afa56f);*/
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30 px 100px;
    display: static;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    
}
header .logo
{
color: #ffffff;
font-weight: 700;
text-decoration: none;
font-size: 5em;
text-transform: uppercase;
letter-spacing: 2px;
}
header ul
{
 display: inline; 
 justify-content: center;
 align-items: center; 
}
header ul li
{
 list-style: none;
 display: inline-block;
 margin-left: 20px;
}
header ul li a
{
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 400;
  padding: 6px 15px;
  color: #fff; 
  border-radius: 20px;
  width: auto;
}
header ul li a:hover,
header ul li a.active
{
background: #fff;
color: #705D56;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: static;
    align-items: center;
    justify-content: center;
    
    background-size: contain;
}
.slide-container
{
    max-width: fit-content;
    width: 100%;
    background-color: #6a5a8f;
    padding: 40px 0;
}
.slide-content{
    overflow: hidden;
    margin: 0 40px;
    background-color: #6a5a8f;
    border-radius: 25px;
}
.card{
    border-radius: 25px;
    background-color: #fff;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;  
}
.image-content
{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
    
}
.overlay
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #3f179e;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #3f179e;
}
.overlay::after
{
    border-radius: 0 25px 0 0;
    background-color: #fff;

}
.card-image
{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #13082f;
    padding: 3px;

}
.card-image .card-img
{
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: 50%;
   border: 4px solid #ffffff;

}
.name
{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}
.description
{
    font-size: 14px;
    text-align: center;
    color: #424145;
}
.button
{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #6b705c;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background: #7b806a;  
}
.swiper-navBtn{
    color: #3f179e;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover{
    color: #3f179e;
}
.swiper-navBtn::before,
.swiper-navBtn::after
{
    font-size: 40px;
}
.swiper-button-next
{
    right: 0;
}
.swiper-button-prev
{
    left: 0;
}
.swiper-pagination.bullet
{
    background-color: #ffffff; 
    opacity: 1;
}
.swiper-pagination.bullet-active
{
    background-color: #3f179e; 
    opacity: 1;
}
.dropdown {
    position: relative;
    display: inline-block;

    text-decoration: none;
    font-size: 1.3em;
    font-weight: 400;
    padding: 6px 15px;
    color: #fff; 
    border-radius: 20px;

  }
  
  .dropdown-content {
    display: none;
    color:blue;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    
    text-decoration: none;
    font-size: 1.0em;
    font-weight: 400;
    padding: 6px 15px;
    color: blue;

    border-radius: 20px;

  }

  .aboutmeNAME{
    
    position: flex;
    color: white;
    font-size: 5vh;
    display: block;
    border-radius: 20px;
    border-width: 8px;
    border-color: white;
    text-align: center; 
    
  }
  .aboutmeIMAGE{
    position: flex;
    height: fit-content;
    
    display: block;
    text-align: center;
    align-content: center;
  }

  .aboutmeIMAGEIMAGE{
    border-style: double;
    border-radius: 16px;
    border-color: white;
    border-width: 10px;
  }
  .aboutmeBIO{
    position: absolute; 
    left: 50%; 
    margin-left: -340px; 
    width: 680px;
    align-self: center;
    text-align: center;
    color: white;
    font-size: 3vh;
    font-family: fantasy;
    border: double;
    border-radius: 16px;
    border-color: green;
    border-width: 10px;
    
  }
  