@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    /*background: linear-gradient(#ead707,#ceb007, #cb9d06, #cd930a,#c76e07, #ac4505, #a40808);*/
    /*background: linear-gradient(#F0F7F4, #99E1D9, #70ABAF, #705D56, #32292F);*/
    /*background: linear-gradient(#d6cea5, #afa56f);*/
    background: #a98958
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30 px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
color: #32292F;
font-weight: 700;
text-decoration: none;
font-size: 5em;
text-transform: uppercase;
letter-spacing: 2px;
}
header ul
{
 display: flex; 
 justify-content: center;
 align-items: center; 
}
header ul li
{
 list-style: none;
 margin-left: 20px;
}
header ul li a
{
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 400;
  padding: 6px 15px;
  color: #fff; 
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
background: #a98958;
color: #32292F;
}
.carousel-inner {
    padding: 1em;
    padding-top: 100px;

  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
  }
  .card .img-wrapper {
      max-width: 100%;
      height: 13em;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .card img {
      max-height: 100%;
  }
  @media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
  }